<div class="container">
  <h3>All Articles</h3>

  <div ng-repeat="article in articles">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title form-inline">
          <a ui-sref="article({id: article._id})">
            <h1>{{article.title}}</h1>
            <h6>Pulished: {{article.created_at | date}}</h6>
          </a>
          <div class="form-group">
            <p class="pull-right">{{votes}}</p>
            <i class="fa fa-plus pull-left" ng-click="plusVote(article._id)"></i>
            <i class="fa fa-minus pull-left" ng-click="minusVote(article._id)"></i>
          </div>
        </h4>
      </div>
    </div>
  </div>

</div>